
.websiteFooterWelcome {
    background-image: url(../img/footer1.jpg)!important;
}





@media screen and (min-width: 48em) {
    .websiteFooterWelcome {
        background-image: url(../img/footer1.jpg)!important;
        height: 258px;

    }
}


@media screen and (min-width: 48em) {
    .websiteFooterWelcome {
        background-image: url(../img/footer1.jpg)!important;
        height: 258px;

    }
}


@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .websiteFooterWelcome {
        background-image: url(../img/footer1.jpg)!important;
        height: 258px;

    }
}